{% extends 'visitor_base.html.twig' %}

{% block title %}Hello VisitorHomeController!{% endblock %}

{% block body %}

        <!-- Header-->
        <header class="bg-primary py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                    <h1 class="display-4 fw-bolder">La plateforme</h1>
                    <p class="lead fw-normal text-white-50 mb-0">de vente et location des voitures</p>
                </div>
            </div>
        </header>
        <!-- Section-->
        <section class="py-5">
            <div class="container px-4 px-lg-5 mt-5">
                <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
                {% for voiture in voitures %}
                    
                    <div class="col mb-5">
                        <div class="card h-100">
                            <!-- Product image-->
                            <img class="card-img-top" src="{{asset('uploads/voitures/'~voiture.images[0].nom)}}" alt="{{voiture.images[0].nom}}" />
                            <!-- Product details-->
                            <div class="card-body p-4">
                                <div class="text-center">
                                    <!-- Sale badge-->
                                 {% if voiture.typeVoiture == 'location' %} 
                                        <div class="badge bg-primary text-white position-absolute" style="top: 0.5rem; right: 0.5rem">En Location</div>
                                        {% else %}
                                            {% if voiture.typeVoiture == 'vendre' %}
                                            
                                                 <div class="badge bg-success text-white position-absolute" style="top: 0.5rem; right: 0.5rem">En Vente </div>
                                            {% endif %}
                                                
                                {% endif %}
                                    
                                    <!-- Product name-->
                                    <h5 class="fw-bolder">{{voiture.marque}}</h5>
                                    <!-- Product price-->
                                    
                                    {% if voiture.typeOffre.offre.promotion != 0  %}
                                     <span class="text-muted text-decoration-line-through">{{ voiture.typeOffre.offre.promotion  }} FCFA</span>
                                    {% endif %}
                                    
                                    {{ voiture.typeOffre.offre.montant  }} FCFA
                                </div>
                            </div>
                            <!-- Product actions-->
                            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                                <div class="row">
                                <div class="col-4"><a class="btn btn-outline-dark mt-auto" href="{{path('offre_show',{id:voiture.id})}}">détail</a></div>
                               {% if voiture.typeOffre.isValid == false %}

                                   {% if voiture.typeVoiture == 'location' %} 
                                         <div class="col-4"><a class="btn btn-outline-dark mt-auto" href="{{path('offre_panier',{id:voiture.id})}}">Loué</a></div>
                                        {% else %}
                                            {% if voiture.typeVoiture == 'vendre' %}
                                            
                                                 <div class="col-4"><a class="btn btn-outline-dark mt-auto" href="{{path('offre_panier',{id:voiture.id})}}">acheté</a></div>
                                            {% endif %}             
                                {% endif %} 
                               
                               {% endif %}
                               
                                </div>
                            </div>
                        </div>
                    </div>
                {% else %}
                    
                {% endfor %}
                </div>
            </div>
        </section>
    
{% endblock %}
