{% extends 'admin_base.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}
{% block stylesheets %}
    <link href="{{asset('admin/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}

{% block body %}

    <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">La liste de toute les locations</p>
            <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Locations</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead> 
                        <tr>
                            <th>Marque</th>
                            <th>Modele</th>
                            <th>Prix</th>
                            <th>en promotion?</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>Marque</th>
                            <th>Modele</th>
                            <th>Prix</th>
                            <th>en promotion?</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for voiture in voitures %}
                        
                        <tr>
                            <td>{{voiture.marque}}</td>
                            <td>{{voiture.modele}}</td>
                            <td>{{voiture.typeOffre.offre.montant}} FCFA</td>
                            <td> 
                            {% if voiture.typeOffre.offre.promotion == null %}
                                Non
                            {% else %}
                                {{voiture.typeOffre.offre.promotion}} FCFA
                            {% endif %}</td>
                            <td>
                                <a href="{{path('offre_admin_voiture_show',{id:voiture.id})}}"><button type="submit" class="btn btn-primary text-center " btn-lg btn-block>voire plus</button></a>
                            </td>
                        </tr>
                    {% else %}
                        
                    {% endfor %}
                     
                      
                    </tbody>
                </table>
            </div>
        </div>

         {% block javascripts %}
     <!-- Page level plugins -->
    <script src="{{asset('admin/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('admin/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{asset('admin/js/demo/datatables-demo.js')}}"></script>
    {% endblock %}
{% endblock %}

