{% extends 'admin_base.html.twig' %}

{% block title %}Hello AdminHomeController!{% endblock %}
{% block stylesheets %}
    <link href="{{asset('admin/vendor/datatables/dataTables.bootstrap4.min.css')}}" rel="stylesheet">
{% endblock %}
{% block body %}
<!-- Page Heading -->
    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Tableau de bord</h1>
        
    </div>

    <!-- Content Row -->
    <div class="row">

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-primary shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">
                                Nombre totale des voitures publier en location</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{enLocation | length}}</div>
                        </div>
                        <div class="col-auto">
                            <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Earnings (Monthly) Card Example -->
        <div class="col-xl-3 col-md-6 mb-4">
            <div class="card border-left-success shadow h-100 py-2">
                <div class="card-body">
                    <div class="row no-gutters align-items-center">
                        <div class="col mr-2">
                            <div class="text-xs font-weight-bold text-success text-uppercase mb-1">
                                Nombre totale des voitures publie en Vendu</div>
                            <div class="h5 mb-0 font-weight-bold text-gray-800">{{enVente | length}}</div>
                        </div>
                        <div class="col-auto">
                              <i class="fas fa-calendar fa-2x text-gray-300"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
        
            <h1 class="h3 mb-2 text-gray-800">Tables</h1>
            <p class="mb-4">La liste de toute les vente et location qui sont en attente de validation</p>
            <div class="card shadow mb-4">
            <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-primary">Vente et location</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                    <thead>
                        <tr>
                            <th>N°</th>
                            <th>Marque</th>
                            <th>Modele</th>
                            <th>Couleur</th>
                            <th>Nombre de client postuler</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tfoot>
                        <tr>
                            <th>N°</th>
                            <th>Marque</th>
                            <th>Modele</th>
                            <th>Couleur</th>
                            <th>Nombre de client postuler</th>
                            <th>Actions</th>
                        </tr>
                    </tfoot>
                    <tbody>
                    {% for voiture in voitures %}                       
                        <tr>
                            <td>{{loop.index}}</td>
                            <td>{{voiture.marque}}</td>
                            <td>{{voiture.modele}}</td>
                            <td><button style="background:{{voiture.couleur}}; width:40px; height:40px"></button></td>
                            <td>{{voiture.users | length }}</td>
                            <td>
                                <a href="{{path('louer_show',{id:voiture.id})}}"><button type="submit" class="btn btn-primary text-center " btn-lg btn-block>
                                    {% if voiture.typeOffre.isValid == true %}
                                        Loué
                                    {% else %}
                                          Valider la location
                                    {% endif %}
                                </button></a>
                            </td>
                            
                        </tr>
                    {% else %}
                        
                    {% endfor %}
                     
                      
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    {% block javascripts %}
     <!-- Page level plugins -->
    <script src="{{asset('admin/vendor/datatables/jquery.dataTables.min.js')}}"></script>
    <script src="{{asset('admin/vendor/datatables/dataTables.bootstrap4.min.js')}}"></script>

    <!-- Page level custom scripts -->
    <script src="{{asset('admin/js/demo/datatables-demo.js')}}"></script>
    {% endblock %}
{% endblock %}
